{% extends 'base.html' %}


{% block content %}
<title>{% block title %} Instructions Sent {% endblock %}</title>
<!-- thank-you section start -->
<section class="section-b-space light-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text"><i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>thank you</h2>
                    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br> If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
{% endblock %}