{% extends 'base.html' %}


{% block content %}
<title>{% block title %} Success! {% endblock %}</title>
<!-- thank-you section start -->
<section class="section-b-space light-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text"><i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>thank you</h2>
                    <p>We've sent an email to your inbox to confirm your email! You will receive it shortly. <br> Please do not forget to check your spam.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
{% endblock %}